// Typography
$font-family-main: 'Roboto Slab', Helvetica, Arial, sans-serif;
$font-family-headings: 'Roboto Slab', Helvetica, Arial, sans-serif;
$font-size: 1em;

// Padding
$padding-large: 20%;
$padding-small: 3%;
$padding-x-small: 1%;

// Brand colors
$brand-color: #000;
$background-color: #fff;
$border-color: rgba(0, 0, 0, 0.1); // rgba recommended if using feature images

// Typography colors
$text-color: #383838;
$link-color: #0072cf;
$caption-color: #999999;
$selection-color: #D4D4D4; // visible when highlighting text

// Header colors
$header-link-color: #fff5ee;

// Feature image for homepage
$homepage-image-text-shadow-color: #454545;

// Feature image for articles
$feature-image-text-color: #fff;
$feature-image-text-shadow-color: #454545;
$feature-image-size: cover; // options include "cover", "contain", "auto"

// Header description box
$header-desc-background-color: #4ea8e1;
$header-desc-text-color: #FFF;

// Tooltip colors
$tooltip-bubble-color: #595959;
$tooltip-text-color: #a6a6a6;