// Typography
$font-family-main: 'Roboto Slab', Helvetica, Arial, sans-serif;
$font-family-headings: 'Roboto Slab', Helvetica, Arial, sans-serif;
$font-size: 1em;

// Padding
$padding-large: 20%;
$padding-small: 1.1%;
$padding-x-small: 3%;

// Brand colours
$brand-color: #fff;
$background-color: #fff;
$border-color: rgba(0, 0, 0, 0.1); // rgba recommended if using feature images

// Typography colours
$text-color: #383838;
$link-color: #0072cf;
$selection-color: #D4D4D4; // visible when highlighting text

// Header colours
$header-link-color: #383838;

// Feature image for articles
$feature-image-text-color: #fff;
$feature-image-size: cover; // options include "cover", "contain", "auto"

// Header description box
$header-desc-background-color: #4ea8e1;
$header-desc-text-color: #FFF;
